page-intro {

   ion-slide img {
      height: 70vh !important;
      width: auto !important;
    }

    ion-content {
      background-image: url('../assets/img/ab.png');
      background-repeat: no-repeat;

      background-size: 110% 110%;
      background-position: center center;
      animation: shrink 5s infinite alternate;
  }
  @keyframes shrink {
    0% {
      background-size: 110% 110%;
      // filter: blur(2px);
      // -webkit-filter: blur(2px);
    }
    100% {
      background-size: 100% 100%;
      // filter: blur(1px);
      // -webkit-filter: blur(1px);
    }
  }
}
